#HomeTitle {
  height: 6em;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: -1;
}
#HomeTitle h1 {
  color: #00165A;
  font-size: 3em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.belowTitle {
  position: relative;
  top: 6em;
}
/* officeDetails */

.officeDetails {
  width: 100%;
  display: flex;
  height: 6em;
  justify-content: center;
  align-items: center;
  background-color: #00165A;
}
.ODContent, .navContent {
  width: 70rem;
  margin: auto 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ODContent .Contact {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-left: 2em;
}

.Contact .smallContainer {
  height: 4em;
  width: 4em;
  background-color: #FFFFFF;
}
.Contact #email.smallContainer {
  margin-left: 1.5em;
}

.Contact .smallContainer i {
  font-size: 2em;
}
.Contact .smallContainer:hover {
  border-color: #FFFFFF;
  background-color: #800020;
}

/* navigation */
#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 6rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFFFFF;
}
.menu {
  display: flex;
  margin: 1rem auto;
}
.menu ul {
  list-style-type: none;
  display: inline-flex;
  margin: auto;
}
.menu ul li i{
  margin-right: 0.5rem;
}
#navigation ul li {
  display: inline-flex;
  padding: 0;
  margin: 0.2rem auto;
  height: 4rem;
  border-left: 0.125rem solid #800020;
  border-right: 0.125rem solid #800020;
  transition: all 1s linear;
}
#navigation ul li p {
  display: inline-flex;
  font-family: "Rufina", "Quattrocento", Georgia, serif;
  font-weight: 700;
  margin: 0 auto;
}
#navigation ul li:first-child {
  border-left: none;
}
#navigation ul li:last-child {
  border-right: none;
}
#navigation ul li:hover {
  background-color: #800020;
}
#navigation ul li a {
  color: #00165A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
#navigation ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
/* end */
/* home specific Nav */
#navigation li.openTab, #navigation .openTab a {
  cursor: default;
  pointer-events: none;
  color: #FFFFFF;
  background-color: #800020;
}
/* main home*/
main#home .left {
  width: 20%;
  height: 30em;

}
main#home .middle{
  right: 55%;
}
main#home .right{
  width: 25%;
}

/* customer type */
.customerType {
  display: flex;
  height:  100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}
/*radio buttons general */
.customerType .smallContainer {
  height: 5em;
  width: 5em;
  border: none;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallContainer input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    height: 5em;
    width: 5em;
}
.checkmark {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0.2em solid Transparent;
    font-size: 2em;
    color: #E3E2DF;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* radio button specific default*/
.customerType .smallContainer#allCustomers {
  background: #FFFFFF;
}
.customerType .smallContainer#allCustomers .checkmark{
  border-color: #800020;
}
.customerType .smallContainer#LimitedCustomer {
  background: #00165A;
}
.customerType .smallContainer#LimitedCustomers .checkmark{
  border-color: #00165A;
}
.customerType .smallContainer#STCustomer {
  background: #800020;
}
.customerType .smallContainer#STCustomer .checkmark {
  border-color: #800020;
}

.checkmark #isChecked,
.checkmark #notChecked {
  display: none;
}
.checkmark #availableChecked {
  display: flex;
}
/* On mouse-over, add a grey background color */
.customerType  .smallContainer:hover input ~ .checkmark {
    border: 0.2em solid Transparent;
}
/* specific hover effect */
.customerType  .smallContainer:hover input ~ .checkmark #availableChecked {
    display: none;
}
.customerType  .smallContainer#allCustomers:hover input ~ .checkmark {
    background-color: #800020;
    border-color: #800020;
    color: #00165A;
    display: flex;
}
.customerType  .smallContainer#LimitedCustomer:hover input ~ .checkmark {
    background-color: #800020;
    border-color: #00165A;
    color: #00165A;
    display: flex;
}
.customerType  .smallContainer#STCustomer:hover input ~ .checkmark {
    background-color: #00165A;
    border-color: #800020;
    color: #800020;
    display: flex;
}
.customerType  .smallContainer#allCustomers:hover input ~ .checkmark #isChecked {
    display: flex;
}
.customerType  .smallContainer#LimitedCustomer:hover input ~ .checkmark #isChecked {
    display: flex;
}
.customerType  .smallContainer#STCustomer:hover input ~ .checkmark #isChecked {
    display: flex;
}
/* checked radio button */
.smallContainer input:checked ~ .checkmark i {
  display: none;
}
.smallContainer input:checked ~ .checkmark #isChecked {
  display: flex;
}
.smallContainer #allCustomers input:checked ~ .checkmark{
  background-color: #FFFFFF;
  color: #800020;
}
.smallContainer #LimitedCustomer input:checked ~ .checkmark {
  background-color: #800020;
  color: #FFFFFF;
}
.smallContainer #STCustomer input:checked ~ .checkmark {
  background-color: #00165A;
  color: #FFFFFF;
}
