/*
color hunt.co: http://colorhunt.co/c/71366
 dark red: #FF4545
 orange: #FF9867
 light orange: #FFBF87
 yellow: #FFEDB2

 http://colorhunt.co/c/78489
 blue: #18587A
 orange: #FC624D
 pink: #FCA7A7
 light pink: #FFD6D6

font: sintony and poppins from https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations
blue: #3490DE for read more links
white: #ffffff
black: #000000

http://www.99colors.net/name/burgundy
Triadic Colors

#208000 Green
#165A00 Dark Green
#3CA619  Lime Green
#002080 Dark Blue
#00165A navy
#193CA6 blue

<link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Rufina:400,700" rel="stylesheet">
google api key AIzaSyCs6rT_VVjyfX5dBnxWY5XXKQyb8LBXkvE
<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1500827725695!6m8!1m7!1s1H78Wv1YJNdr2rPtgXsnvA!2m2!1d54.3439488311084!2d-7.635358064693378!3f310.243354077671!4f-9.52507538905617!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

#800020 Burgundy
#00165A navy
background-color: #E3E2DF
white: #ffffff
black: #000000

  font-family: "Rufina", "Quattrocento", Georgia, serif;
  font-family: "Oxygen", "Oswald", Helvetica, sans-serif;

*/

html {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Oxygen", "Oswald", Helvetica, sans-serif;
  background-color: #E3E2DF;
}
main {
  max-width: 100%;
  width: 100vh;
  margin: auto;
}
h1 {
  font-family: "Rufina", "Quattrocento", Georgia, serif;
}
/* officeStatus */
.officeStatus {
  font-size: 2em;
}

/* contact */
.Contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top:1em;
  background: Transparent;
}
.Contact div{
  height: 7em;
  width: 7em;
  display: flex;
  border: 0.3em solid #800020;
  justify-content: center;
  align-items: center;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.Contact i {
  font-size: 4em;
  color: #00165A;
}
#phone .btn,
#phone .btn:hover,
#phone .btn:focus,
#phone .btn:active,
#phone .btn:visited,
#phone .btn-primary:focus,
#email .btn,
#email .btn:hover,
#email .btn:focus,
#email .btn:active,
#email .btn:visited,
#email .btn-primary:focus
 {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            box-shadow: none;
        }
.Contact div:hover{
  background-color: #00165A;
}
.Contact div:hover i{
  color: #FFFFFF;
}
/* modal */
#PhoneUs.modal .btn-primary,
#EmailUs.modal .btn-primary {
  background-color: #800020;
  border-color: #00165A;
  box-shadow: #00165A;
}
.modal-body a#PhoneNumber,
.modal-body a#EmailAddress,
.modal-body i {
  margin-left: 1em;
  color: #00165A;
  font-size: 1.5em;
  padding: 0.5em 0.1em;;
}
.modal-body a#PhoneNumber i,
.modal-body a#EmailAddress i {
    margin-left: 0.15em;
    color: #00165A;
    font-size: 1em;
}
.modal-body a#PhoneNumber:hover,
.modal-body a#EmailAddress:hover {
  background-color: rgba(227, 226, 223, 0.6);
}
.modal-body i {
  color: #800020;
}
#EmailUs.modal a#Contact-Page button {
  background-color: #00165A;
}

#ModalTitle {
  color: #800020;
  font-size: 2em;
}
